.asset {
  background-color: #23272a;
  margin-right: 2em;
  color: white;
}

.asset-header {
  height: auto;
  min-height: 5em;
  color: white;
}

.asset-title {
  color: white;
}

.asset-description {
  color: white;
}
