.net-worth {
  text-align: right;
  position: sticky;
  top: 40px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  font-size: xx-large;
  font-family: american_captain, monospace;
  width: 100%;
}

.add_asset_btn {
  font-size: 10px;
  float: right;
  border-radius: 8px;
}
