<!--<mat-drawer-container class="main-window example-container mat-typography" autosize>-->
<!--  <mat-drawer #drawer class="sidenav-drawer" mode="side" disableClose="true" opened="true" [@slideInOut]="sidenavState ">-->
<!--    <button class="toggle-button" mat-mini-fab (click)="isExpanded = !isExpanded; (sidenavState === 'in') ? sidenavState = 'out' : sidenavState = 'in'">-->
<!--      <mat-icon aria-label="Menu">menu</mat-icon>-->
<!--    </button>-->

<!--    <mat-nav-list>-->
<!--      <mat-list-item class="sidenav-content">-->
<!--        <mat-icon mat-list-icon>person</mat-icon>-->
<!--        <h4 mat-line *ngIf="isExpanded">Management A</h4>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item class="sidenav-content">-->
<!--        <mat-icon mat-list-icon>assignment</mat-icon>-->
<!--        <h4 mat-line *ngIf="isExpanded">Management B</h4>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item class="sidenav-content">-->
<!--        <mat-icon mat-list-icon>domain</mat-icon>-->
<!--        <h4 mat-line *ngIf="isExpanded">Management C</h4>-->
<!--      </mat-list-item>-->
<!--      <mat-list-item class="sidenav-content">-->
<!--        <mat-icon mat-list-icon>folder_shared</mat-icon>-->
<!--        <h4 mat-line *ngIf="isExpanded">Management X</h4>-->
<!--      </mat-list-item>-->
<!--    </mat-nav-list>-->
<!--  </mat-drawer>-->

  <div class="example-sidenav-content">
    <app-financial-assets></app-financial-assets>
  </div>
<!--</mat-drawer-container>-->
